<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lapak Lapar - M Ilyas Arman S</title>
    <meta name="description" content="Submission 1 Dicoding" />
    <meta name="author" content="M Ilyas Arman S" />

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <!-- SKIP LINK -->
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <!-- HEADER -->
    <header>
        <!-- NAVBAR -->
        <nav class="navbar">
            <a href="/" class="navbar-brand">LAPAK LAPAR</a>
            <button class="toggle-menu" id="toggle-bar">
            <i class="fa fa-bars"></i>
        </button>
            <ul class="main-navbar" id="menu-navbar">
                <li>
                    <a href="index.html" class="navbar-link">Home</a>
                </li>
                <li>
                    <a href="#" class="navbar-link">Favorites</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/milyasarmans/" rel="noopener" target="_blank" class="navbar-link">About Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- JUMBOTRON -->
    <div class="jumbotron">
        <div tabindex="0" class="main-jumbotron">
            <h1 class="heading-jumbotron">find your perfect restaurant</h1>
            <p class="motto-jumbotron">perfect for eating before or after the cinema or a show.</p>
            <button><a href="#main-menu">Search</a></button>
        </div>
    </div>

    <!-- MAIN -->
    <main id="main-content">
        <section class="container">
            <div class="explore-restaurant" id="main-menu">
                <h1>Explore Restaurant</h1>
                <restaurant-list></restaurant-list>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer tabindex="0">
        <p class="copyright">Copyright ©2022 Lapak Lapar - Created with <i class="fa fa-heart"></i></p>
    </footer>
</body>

</html>